[Unit]
Description=Opencast InfluxDB Adapter parsing Apache HTTPd logs
After=syslog.target

[Service]
SyslogIdentifier=opencast-influxdb-adapter
ExecStart=/usr/bin/java -jar /opt/opencast-influxdb-adapter/opencast-influxdb-adapter-1.0.jar
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
